/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==================================
   #TEMPORARY GENERAL DISABLED STATE FOR FORM
   ================================== */

// TODO: enable and add new styles so the Appuniversum components look disabled as well
// .au-c-form--disabled {
//   .ember-basic-dropdown-trigger,
//   .au-c-textarea,
//   .au-c-input,
//   .au-c-textarea--error,
//   .au-c-input--error,
//   .ember-power-select--error .ember-power-select-trigger,
//   .au-c-date-picker-container--error .input-field--datepicker {
//     background-color: $au-input-disabled-background-color;
//     border-color: $au-input-disabled-border-color;
//     color: $au-input-disabled-color;
//     cursor: not-allowed;
//     pointer-events: none;
//   }

//   .au-c-help-text--error {
//     color: $au-input-disabled-color;
//     pointer-events: none;
//   }

//   .au-c-label--error:before {
//     background-color: $au-input-disabled-color;
//   }

//   .au-c-button {
//     background: $au-input-disabled-color;
//   }
// }

// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

.au-c-toolbar + .au-c-toolbar {
  padding-top: 0;
}

// Info text
.au-c-info-text {
  @include au-font-size($au-base);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-700;
  font-style: italic;
}

// Descriptions > @todo: replace with label and p
.au-c-description-label {
  @include au-font-size($au-h6);
  font-family: $au-font;
  font-weight: $au-medium;
  color: $au-gray-600;
}

.au-c-description-value {
  @include au-font-size($au-h6);
  font-family: $au-font;
  color: $au-gray-800;
}

// Vertical list
.au-c-list-vertical__item {
  & + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: 0.1rem solid $au-gray-200;
  }

  .au-c-collapsible & + & {
    margin-top: $au-unit-tiny;
    padding-top: $au-unit-tiny;
    border-top-color: $au-gray-300;
  }
}

// Toggle button
.au-c-button--toggle {
  padding-left: 0;
  padding-right: 0;

  .au-c-icon {
    transition:
      transform $au-transition,
      color $au-transition;
  }

  .js-accordion--open & .au-c-icon {
    transform: rotate(180deg);
  }
}

// Accordion
.au-c-collapsible {
  display: none;
  overflow: hidden;
  padding: $au-unit-small;
  background-color: $au-gray-200;
  margin-top: $au-unit-small;

  .js-accordion--open & {
    display: block;
  }
}

// util
.flex-grow {
  flex-grow: 1;
}

.orgaan-card {
  position: relative;
  margin-top: 1em;
  &:hover {
    background-color: #e8ebee;
    cursor: pointer;
  }
}

/*
 For readonly view of semantic forms
*/
.disabled input.au-c-input.is-disabled {
  background-color: transparent;
  color: black;
  border: transparent;
  padding-left: 0;
}

.disabled .ember-power-select-trigger[aria-disabled="true"] {
  background-color: transparent;
  border: transparent;
  padding-left: 0 !important;
}

.disabled .ember-power-select-status-icon {
  display: none;
}

.disabled .is-disabled .au-c-toggle-switch__toggle::before {
  background-color: white;
}

.disabled .au-c-toggle-switch.is-disabled {
  color: black;
}
.no-pagination {
  .au-c-data-table__actions--bottom {
    display: none;
    pointer-events: none;
  }
}

.no-sorting {
  .au-c-data-table__sort {
    display: none;
  }
}

.au-o-ext-align-self--start {
  align-self: flex-start;
}

.au-o-ext-flex-no-shrink {
  flex-shrink: 0;
}

.au-o-nested-form {
  padding-left: 1em;
  margin-top: 1em;
  border-left: solid 3px var(--au-blue-200);
}
.au-c-modal.small {
  max-width: 620px;
}
.au-pill-top-right {
  position: absolute;
  top: -0.8em;
  right: 10px;
}

.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  z-index: 10;
}

.no-fractie-div,
.clickable-cell {
  padding: 0.6rem;
  font-size: var(--au-h6);
}

.clickable-cell {
  cursor: pointer;
}

.clickable-cell.selected {
  background-color: var(--au-blue-300);
  font-weight: var(--au-medium);
}

.clickable-cell.disabled {
  cursor: not-allowed;
  color: var(--au-gray-700);
  background-color: var(--au-gray-300);
  text-decoration: line-through;
}

.clickable-cell.selected.disabled {
  cursor: pointer;
  background-color: var(--au-blue-300);
  text-decoration: none;
}

.clickable-cell:hover {
  background-color: var(--au-gray-200);
}

.vertical-btn-group {
  margin: auto;
}

.vertical-btn-group button {
  display: inline;
  margin: 1rem 10rem;
  width: 40%;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--au-gray-300);
}

.order-input-as-string {
  display: flex;
  flex-direction: row;
  gap: 0px;

  input {
    border-radius: 0px;
  }
}

.order-input-as-string--minus {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.order-input-as-string--plus {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.alert-grey-info-circle-icon {
  svg {
    background-color: var(--vl-grey-70);
    border-radius: 50%;
    color: white;
  }
}

.notification-count-circle {
  border-radius: 50%;
  background-color: var(--au-blue-700);
  color: var(--au-white);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-zero {
  height: 0px !important;
  padding: 0px !important;
}

.ember-power-select-group[aria-disabled="true"] .ember-power-select-option,
.ember-power-select-option[aria-disabled="true"] {
  color: var(--au-gray-400);
}

.replacement .au-u-flex .au-u-flex--stretch.flex-grow {
  flex-grow: 0;
}

// Tooltips
.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip-text {
  display: none;
  position: absolute;
  background-color: #687483;
  color: white;
  border-radius: 5px;
  top: 100%;
  white-space: normal;
  padding: 2px 7px;
  z-index: 10;
  max-width: calc(100vw - 20px);
  min-width: 200px;
  overflow-wrap: break-word;
  margin-top: 1rem;
}

.tooltip-container .tooltip-text.center {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container .tooltip-text.left {
  text-align: left;
}

.tooltip-container .tooltip-text.right {
  text-align: left;
  right: 0;
}

.tooltip-container:hover .tooltip-text {
  display: block;
}

.tooltip-container .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #687483 transparent;
}

.tooltip-container .tooltip-text.center::after {
  left: 50%;
  margin-left: -5px;
}

.tooltip-container .tooltip-text.left::after {
  left: 10%;
}

.tooltip-container .tooltip-text.right::after {
  right: 10%;
}

$au-region-breakpoint: medium !default;

.au-u-flex--row-when-medium {
  @include mq($au-region-breakpoint) {
    display: flex;
    flex-direction: row !important; // someone put important on the default column value :(
    align-items: center;
    justify-content: space-between;
  }
}

.mandataris-search-content {
  .au-c-data-table__table tbody tr:nth-child(2n + 1) {
    background-color: var(--au-gray-100);
  }
  .au-c-data-table__table tbody tr:nth-child(2n) {
    background-color: var(--au-gray-100);
  }
  .au-c-data-table__table tbody tr.sub-row:nth-child(2n + 1) {
    background-color: var(--au-white);
  }
  .au-c-data-table__table tbody tr.sub-row:nth-child(2n) {
    background-color: var(--au-white);
  }
}

.au-c-pill {
  border-radius: 3px !important;
}
.au-form-row-full-width {
  align-items: normal !important;
}

.warning-panel {
  background-color: var(--au-red-200);
  padding: 1rem;
  border-radius: 3px;
  border: solid 1px var(--au-red-600);
}
