/* ==================================
   # Digitaal loket
   ================================== */
$mq-breakpoints: (
  tiny: 300px,
  xsmall: 500px,
  small: 767px,
  medium: 1380px,
  large: 1600px,
);

@import "@appuniversum/ember-appuniversum/styles";
@import "project/c-data-list";
@import "project/c-document-status-pills";
@import "project/c-status-label";
@import "project/c-skeleton";
@import "project/c-timeline";
@import "project/c-custom-elements";

// PLUGINS
@import "project/p-ember-promise-modals";

// UTILITIES

// TEMPORARY HACKS AND QUICKFIXES
@import "shame";
