<div class="au-c-body-container au-c-body-container--scroll">

  <div class="au-o-box">
    <AuHeading @skin="5" class="au-u-margin-bottom-small">Details</AuHeading>

    <Organen::Card @bestuursorgaan={{@model.currentBestuursorgaan}} />
  </div>

  <AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
    <Group>
      <AuHeading @skin="5">Mandaten</AuHeading>
    </Group>
  </AuToolbar>

  <Mandatenbeheer::BestuursorgaanMandaten
    @orderedMandaten={{this.model.orderedMandaten}}
    @availableBestuursfuncties={{this.model.availableBestuursfuncties}}
    @bestuursorgaanIT={{this.model.currentBestuursorgaan}}
  />
</div>