<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::Instance
      @instanceId={{this.model.instanceId}}
      @form={{this.model.bestuursorgaanFormDefinition}}
      @isEditable={{false}}
    />

    {{#unless (await this.model.bestuursorgaan.isDecretaal)}}
      <AuToolbar class="au-u-margin-top" as |Group|>
        <Group>
          <AuLink
            @route="organen.orgaan.edit"
            @model={{this.model.instanceId}}
            @skin="button-secondary"
          >Pas aan</AuLink>
        </Group>
      </AuToolbar>
    {{/unless}}
  </div>
</div>