{{page-title "Bestuursorgaan" " " @model.bestuursorgaan.naam}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">{{@model.bestuursorgaan.naam}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <Tmp::Todo>Add mandatarissentable belonging to this bestuursorgaan</Tmp::Todo>
</div>