{{#if this.hasMultipleBurgemeesters}}
  <div
    class="au-o-box no-pagination au-u-padding-bottom-none au-u-margin-bottom-none"
  >
    <AuAlert
      @title={{this.title}}
      @skin="error"
      @icon="alert-triangle"
      @closable={{false}}
    >
      <p>Er zijn meerdere burgemeesters gevonden.</p>
    </AuAlert>
  </div>
{{/if}}
<AuToolbar
  @size="large"
  @nowrap="true"
  class="au-u-padding-bottom-none"
  as |Group|
>
  <Group>
    <div class="au-o-flow">
      <AuHeading @skin="2">Ambt burgemeester</AuHeading>
    </div>
  </Group>
</AuToolbar>
<div class="au-o-box">
  <Person::Selector @person={{this.persoon}} @onUpdate={{this.onUpdate}} />
</div>