.loading-panel {
  animation: skeleton-loading 2s linear infinite alternate;
  border-radius: $au-radius;
  width: 100%;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--au-white);
  }
  50% {
    background-color: var(--au-gray-100);
  }
  100% {
    background-color: #f1f3f6;
  }
}
