<div
  {{did-insert (perform this.setupTable)}}
  class="au-c-body-container au-c-body-container--scroll"
>
  <h1 class="au-u-h2 au-u-margin-bottom-small">{{this.contextTitle}}</h1>

  <AuTable>
    <:title></:title>
    <:header>
      <tr>
        {{#each this.columns as |label|}}
          <th>{{label}}</th>
        {{/each}}
      </tr>
    </:header>
    <:body>
      {{#each this.rows as |row|}}
        {{#unless row.values}}
          <tr>
            {{#each this.columns}}
              <td>
                <div class="loading-panel au-u-padding-small"></div>
              </td>
            {{/each}}
          </tr>
        {{/unless}}
        <tr>
          {{#each row.values as |value|}}
            <td>{{value}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </:body>
  </AuTable>
</div>