{{#if this.currentSession.isUserOrImpersonator}}
  <div class="au-c-sidebar__header">
    <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
  </div>
  <nav>
    <ul class="au-c-list-navigation">
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="organen">
          <AuIcon @icon="users" @alignment="left" />
          Organen
        </AuNavigationLink>
      </li>
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="mandatarissen.search">
          <AuIcon @icon="user-fill" @alignment="left" />
          Mandatarissen
        </AuNavigationLink>
      </li>
      {{#if this.currentSession.showLegislatuurModule}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="verkiezingen.installatievergadering">
            <AuIcon @icon="vote" @alignment="left" />
            Opstart nieuwe legislatuur
          </AuNavigationLink>
        </li>
      {{/if}}
      {{#if (is-feature-enabled "editable-forms")}}
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="custom-forms.overview">
            <AuIcon @icon="folder" @alignment="left" />
            Eigen gegevens
          </AuNavigationLink>
        </li>
      {{/if}}
      {{#if (is-feature-enabled "shacl-report")}}
        <li class="au-c-list-navigation__item">

          <AuNavigationLink @route="report">
            <div>
              {{#if (gt this.validationCount 0)}}
                <AuPill
                  @skin="warning"
                  @size="small"
                  @icon="alert-triangle"
                  class="au-u-margin-bottom-tiny"
                >
                  {{this.validationCount}}
                  Validatiefouten
                </AuPill>

              {{/if}}
              <div class="au-u-flex">
                <AuIcon
                  @icon={{this.validationIcon}}
                  @alignment="left"
                  class="au-u-margin-top-tiny"
                />
                <span>
                  Validatierapport
                </span>
              </div>
            </div>
          </AuNavigationLink>
        </li>
      {{/if}}
    </ul>
  </nav>
{{/if}}