<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    {{#if this.currentSession.canAccessMandaat}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="mandatenbeheer.mandatarissen">
          <AuIcon @icon="user-fill" @alignment="left" />
          Mandatenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessLeidinggevenden}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="leidinggevendenbeheer.bestuursfuncties">
          <AuIcon @icon="user-popup" @alignment="left" />
          Leidinggevendenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
  </ul>
</nav>
