<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="organen">
        <AuIcon @icon="users" @alignment="left" />
        Bestuursorganen
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="mandatarissen.search">
        <AuIcon @icon="user-fill" @alignment="left" />
        Mandatarissen
      </AuNavigationLink>
    </li>
    {{#if this.currentSession.canAccessMandaat}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="mandatenbeheer.mandatarissen">
          <AuIcon @icon="user-fill" @alignment="left" />
          Mandatenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessLeidinggevenden}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="leidinggevendenbeheer">
          <AuIcon @icon="user-popup" @alignment="left" />
          Leidinggevendenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="legacy.formbeheer">
        <AuIcon @icon="draft" @alignment="left" />
        Formbeheer
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="legacy">
        <AuIcon @icon="archive" @alignment="left" />
        Legacy
      </AuNavigationLink>
    </li>
  </ul>
</nav>
