<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="organen">
        <AuIcon @icon="users" @alignment="left" />
        Organen
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="mandatarissen.search">
        <AuIcon @icon="user-fill" @alignment="left" />
        Mandatarissen
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="verkiezingen.installatievergadering">
        <AuIcon @icon="vote" @alignment="left" />
        Opstart nieuwe legislatuur
      </AuNavigationLink>
    </li>
    {{#if (is-feature-enabled "show-forms-module")}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="forms">
          <AuIcon @icon="draft" @alignment="left" />
          Forms
        </AuNavigationLink>
      </li>
    {{/if}}
  </ul>
</nav>