<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="organen">
        <AuIcon @icon="users" @alignment="left" />
        Bestuursorganen
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="mandatarissen.search">
        <AuIcon @icon="user-fill" @alignment="left" />
        Mandatarissen
      </AuNavigationLink>
    </li>
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="verkiezingen">
        <AuIcon @icon="vote" @alignment="left" />
        Verkiezingen
      </AuNavigationLink>
    </li>
    {{#if this.currentSession.canAccessLeidinggevenden}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="leidinggevenden">
          <AuIcon @icon="user-popup" @alignment="left" />
          Leidinggevenden
        </AuNavigationLink>
      </li>
    {{/if}}
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="forms">
        <AuIcon @icon="draft" @alignment="left" />
        Forms
      </AuNavigationLink>
    </li>
  </ul>
</nav>