{{#if this.globalSystemMessage.isActive}}
  <AuAlert
    @skin="warning"
    @size="tiny"
    @closable={{true}}
    class="au-u-margin-bottom-none"
    ...attributes
  >
    <p class="au-u-text-center">
      <MarkdownToHtml
        @markdown={{this.globalSystemMessage.message}}
        @simplifiedAutoLink={{true}}
      />
    </p>
  </AuAlert>
{{/if}}