<div class="au-u-flex au-u-flex--column">
  <div class="report-refresh-button au-u-flex">
    <AuPill @icon="clock-rewind">Laatste sync
      {{this.lastRefreshedDate}}</AuPill>
    <AuButton
      @disabled={{this.isGeneratingReport}}
      @skin="naked"
      class="refresh-button-next-to-pill"
      {{on "click" (perform this.refresh)}}
    >
      <AuIcon
        @icon="renew"
        class={{if this.isGeneratingReport "rotate-element-360-degree"}}
      />
      Refresh</AuButton>
  </div>
  <p class="au-u-flex au-u-flex-self-end au-u-padding-top-small">Meer weten over
    validatie fouten?</p>
  <AuLinkExternal
    class="au-u-flex au-u-flex-self-end"
    href="https://abb-vlaanderen.gitbook.io/handleiding-lokaal-mandatenbeheer"
  >
    Bekijk de handleiding
  </AuLinkExternal>
</div>