{{#if
  (and this.isFeatureEnabled (and this.isLoaded (gt this.results.length 0)))
}}
  <div data-test-validatie-table>
    <AuHeading @level="3" @skin="4">
      Validatiefouten
    </AuHeading>
    <ul class="au-c-list-vertical no-pagination">
      <AuDataTable
        @content={{this.results}}
        @noDataMessage="Geen validatieresultaten gevonden"
        @size={{or this.results.length 0}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <th class="au-u-padding-small">Boodschap</th>
            <th class="au-u-padding-small">Detail</th>
          </c.header>

          <c.body as |result|>
            <td>
              {{result.resultMessage}}
            </td>
            <td class="au-u-muted">
              {{result.value}}
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </ul>
  </div>
{{/if}}