{{page-title "Bewerk Bestuursorgaan" " " @model.bestuursorgaan.naam}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk bestuursorgaan
      {{@model.bestuursorgaan.naam}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <Tmp::Todo>Add edit bestuursorgaan form</Tmp::Todo>
</div>