{{page-title "Beheer bestuursorgaan"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Beheer bestuursorganen</AuHeading>
  </Group>
  <Group>
    <AuButton @skin="primary" {{on "click" this.createNewOrgaan}}>
      Voeg nieuw bestuursorgaan toe
    </AuButton>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <AuHeading @skin="3">Actieve bestuursorganen</AuHeading>
    <Tmp::Todo>Add table active bestuursorgaan</Tmp::Todo>
    <AuHeading @skin="3">Inactieve bestuursorganen</AuHeading>
    <Tmp::Todo>Add table inactive bestuursorgaan</Tmp::Todo>
  </div>
</div>