{{page-title "Beheer bestuursorgaan"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Beheer bestuursorganen</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <Tmp::Todo>Add active and inactive bestuursorgaan tables</Tmp::Todo>
</div>