{{page-title "Nieuw bestuursorgaan"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Nieuw bestuursorgaan</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <Tmp::Todo>Add new bestuursorgaan form</Tmp::Todo>
</div>