{{page-title this.model.bestuursorgaan.naam}}

<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organen.orgaan.index">
              Detail
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organen.orgaan.mandatarissen">
              Mandatarissen
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content">
      {{outlet}}
    </AuBodyContainer>
  </main.content>
</AuMainContainer>