{{page-title this.model.bestuursorgaan.naam}}
{{breadcrumb
  this.model.bestuursorgaan.naam
  " "
  this.model.selectedBestuursperiode.detailedViewLabel
  route="organen.orgaan"
  model=this.model.bestuursorgaan.id
}}

<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organen.orgaan.index">
              Detail
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organen.orgaan.mandaten">
              Mandaten
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organen.orgaan.mandatarissen">
              Mandatarissen
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer id="content">
      <div class="au-c-body-container au-c-body-container--scroll">
        {{outlet}}
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>