<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Voeg mandataris toe uit de lijst van verkozenen</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <Form::NewInstance
      @onCreate={{this.onCreate}}
      @form={{@model.mandatarisNewForm}}
      @buildMetaTtl={{this.buildMetaTtl}}
    />
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <Form::CancelWithConfirm
      @cancel={{this.cancel}}
    >Annuleer</Form::CancelWithConfirm>
  </Group>
</AuToolbar>