<div class="no-pagination au-c-body-container au-c-body-container--scroll">
  {{#if @showTotalConcepts}}
    <div
      class="au-u-flex au-u-flex--end au-u-margin-bottom-small au-u-margin-right"
    >
      <AuHelpText @skin="secondary" @size="large">
        Aantal:
        {{this.concepten.length}}
      </AuHelpText>
    </div>
  {{/if}}
  <AuDataTable
    @content={{this.sortedConcepten}}
    @noDataMessage="Geen concepten gevonden"
    @page={{0}}
    @size={{9999}}
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Label</th>
        <th>Id</th>
      </c.header>
      <c.body as |concept|>
        <td class="au-u-1-2">
          {{concept.label}}
        </td>
        <td class="au-u-1-2">{{concept.id}}</td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>