<div class="au-o-box">
  <Person::Card @persoon={{@persoon}} />
</div>

<div class="au-o-box">
  <AuHeading @level="3" @skin="4">
    Huidige mandaten
  </AuHeading>

  <AuHr />

  <AuHeading @level="3" @skin="4">
    Beëindigde mandaten
  </AuHeading>

  <AuHr />

</div>