<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <Shared::MainMenu />
      </div>
      <div class="au-c-sidebar__footer">
        <AuLinkExternal
          href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
          @skin="secondary"
        >
          <AuIcon @icon="link" @alignment="left" />
          Meer info
        </AuLinkExternal>
        <AuLinkExternal
          href="https://abb-vlaanderen.gitbook.io/handleiding-lokaal-mandatenbeheer/"
          @skin="secondary"
        >
          <AuIcon @icon="documents" @alignment="left" />
          Bekijk handleiding
        </AuLinkExternal>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer>
      <div class="au-c-body-container au-c-body-container--scroll">
        <div class="au-o-box">
          <AuContent class="au-u-margin-bottom">
            <AuHeading
              @skin="2"
            >{{this.postfixBestuurseenheidLabel}}{{this.bestuurseenheidLabel}}</AuHeading>
            <p>Welkom op de admin pagina. Als administrator heb je de
              mogelijkheid om als een lokaal bestuur in te loggen, een systeem
              melding voor een bestuurseenheid toe te voegen en nog andere
              functies. Een overzicht van deze functies vind je hieronder.</p>
          </AuContent>
          <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
            modules</AuHeading>
          <ul class="au-o-grid au-o-grid--small">
            <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
              <LoketModuleCard @icon="settings">
                <:title>Login als een lokaal bestuur</:title>
                <:description>Log in als een administrator voor een
                  bestuurseenheid.</:description>
                <:link>
                  <AuLink @route="impersonate" @skin="button">Wissel van
                    bestuurseenheid</AuLink>
                </:link>
                <:action>
                  {{#if this.isImpersonating}}
                    <AuButton
                      @skin="secondary"
                      {{on "click" this.stopImpersonation}}
                    >Simulatie
                      <strong>{{this.bestuurseenheidLabel}}</strong>
                      stoppen</AuButton>
                  {{/if}}
                </:action>
              </LoketModuleCard>
            </li>
            {{#unless this.isImpersonating}}
              <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
                <LoketModuleCard @icon="settings">
                  <:title>Systeem melding</:title>
                  <:description>Plaats een systeem melding voor een lokaal
                    bestuur</:description>
                  <:link>
                    <AuLink
                      @route="admin-panel.global-system-message"
                      @skin="button"
                    >Creëer een melding</AuLink>
                  </:link>
                </LoketModuleCard>
              </li>
            {{/unless}}
            {{#unless this.isImpersonating}}
              <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
                <LoketModuleCard @icon="settings">
                  <:title>Admin configuratie</:title>
                  <:description>Configuratie voor Lokaal Mandatenbeheer</:description>
                  <:link>
                    <AuLink @route="admin-panel.index" @skin="button">Ga naar
                      configuraties</AuLink>
                  </:link>
                </LoketModuleCard>
              </li>
            {{/unless}}
          </ul>
          {{#if this.isImpersonating}}
            <ul class="au-o-grid au-o-grid--small">
              <Shared::Modules />
            </ul>
          {{/if}}
        </div>
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>