<AuMainContainer as |main|>
  <main.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <Shared::MainMenu />
      </div>
      <div class="au-c-sidebar__footer">
        <AuLinkExternal
          href="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
          @skin="secondary"
        >
          <AuIcon @icon="link" @alignment="left" />
          Meer info
        </AuLinkExternal>
        <AuLinkExternal
          href="https://abb-vlaanderen.gitbook.io/handleiding-lokaal-mandatenbeheer/"
          @skin="secondary"
        >
          <AuIcon @icon="documents" @alignment="left" />
          Bekijk handleiding
        </AuLinkExternal>
      </div>
    </div>
  </main.sidebar>
  <main.content>
    <AuBodyContainer>
      <div class="au-c-body-container au-c-body-container--scroll">
        <div class="au-o-box">
          <AuContent class="au-u-margin-bottom">
            <AuHeading
              @skin="2"
            >{{this.currentSession.groupClassification.label}}
              {{this.currentSession.group.naam}}</AuHeading>
            <p>Indien u toegang mist tot een van de modules van lokaal
              mandatenbeheer, neem contact op met uw
              <strong>interne beheerder</strong>. Indien er zich een probleem
              voordoet met
              <strong>toegang</strong>, neem contact op met het
              <a
                href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
                class="au-c-link"
              >gebruikersbeheer Vlaanderen</a>.</p>
          </AuContent>
          <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
            modules</AuHeading>

          <ul class="au-o-grid au-o-grid--small">
            <Shared::Modules />
          </ul>
        </div>
      </div>
    </AuBodyContainer>
  </main.content>
</AuMainContainer>