<div>
  {{#each this.mandatenAsLinks as |mandaatAsLink index|}}
    <AuLink @route={{mandaatAsLink.route}} @models={{mandaatAsLink.model}}>
      {{mandaatAsLink.label}}{{#if
        (not-eq index (sub this.mandatenAsLinks.length 1))
      }},{{/if}}
    </AuLink>
  {{/each}}
</div>