<div {{did-insert (perform this.setup)}}>
  {{#each this.mandatenAsLinks as |mandaatAsLink|}}
    <AuLink @route={{mandaatAsLink.route}} @model={{mandaatAsLink.model}}>
      {{mandaatAsLink.label}}{{#unless mandaatAsLink.isLast}},{{/unless}}
    </AuLink>
  {{/each}}
</div>