<AuToolbar @size="large" @nowrap="true" as |Group|>
  <Group>
    <AuHeading @skin="2">Banner message</AuHeading>
  </Group>
</AuToolbar>
<div class="au-c-body-container au-c-body-container--scroll">
  <p>Banner message content</p>
</div>