{{#if this.initialized}}
  <Address::AdressenregisterSelector
    @address={{this.address}}
    @onChange={{this.updateAddress}}
  />
{{else}}
  <AuLabel for="input" class="skeleton-label au-u-margin-top" />
  <p class="skeleton-input-full au-u-margin-top"></p>
{{/if}}