{{#unless this.removed}}
  <div class="standard-form-field">
    <div class="au-u-flex au-u-flex--row">
      {{#unless this.formState.isReadOnly}}
        <AuLabel @required={{this.isRequired}}>{{this.title}}</AuLabel>
      {{/unless}}
    </div>
    <div
      class="au-u-flex au-u-flex--between au-u-flex--vertical-start au-u-flex--spaced-tiny au-u-margin-right"
    >
      <div class="flex-grow">
        {{yield}}
      </div>
    </div>
  </div>
{{/unless}}