{{#if (await @bestuursorgaanInTijd.isBCSD)}}
  <div {{did-update this.mandatarissenUpdated @trigger}}>
    {{#if this.warningMessage}}
      <div class="au-o-box">
        <AuAlert @skin="warning" @icon="alert-triangle" @closable={{true}}>
          <p>{{this.warningMessage}}</p>
        </AuAlert>
      </div>
    {{/if}}
  </div>
{{/if}}