{{#if (await @bestuursorgaanInTijd.isBCSD)}}
  <div {{did-update this.mandatarissenUpdated @trigger}}>
    {{#if this.messages}}
      <div class="au-o-box">
        <AuAlert @skin="warning" @icon="alert-triangle" @closable={{true}}>
          {{#each this.messages as |warning|}}
            <p> - {{warning.message}}</p>
          {{/each}}
        </AuAlert>
      </div>
    {{/if}}
  </div>
{{/if}}