{{#if this.initForm.isRunning}}
  <AuLabel for="input" class="skeleton-label au-u-margin-top" />
  <p class="skeleton-input-full au-u-margin-top au-u-margin-bottom"></p>
{{else}}
  <AuToolbar class="au-u-margin-top" as |Group|>
    <Group>
      <AuButtonGroup>
        <AuButton {{on "click" (perform this.onConfigReady)}}>
          Genereer
        </AuButton>
        <AuButton @skin="secondary" {{on "click" @onCancel}}>
          Annuleer
        </AuButton>
      </AuButtonGroup>
    </Group>
  </AuToolbar>
{{/if}}