<div class="order-input-as-string">
  {{#if this.mandaat}}
    <RangordeDropdown
      @selected={{this.rangorde}}
      @placeholder={{this.rangordePlaceholder}}
      @mandaatLabel={{this.mandaatLabel}}
      @onNewRangorde={{this.onUpdateRangorde}}
    />
  {{/if}}
</div>