<div class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
  >
    {{#unless this.session.isAuthenticated}}
      <AuContentHeader
        @titlePartOne="Vlaanderen"
        @titlePartTwo="is lokaal bestuur"
      >
        <img
          sizes="50vw"
          src="/assets/images/loket-header-1600.jpg"
          srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
          alt=""
        />
      </AuContentHeader>
    {{/unless}}

    <section class="au-o-region-large">
      <div class="au-o-layout">
        <AuHeading class="au-u-margin-bottom">Contact</AuHeading>
        <Shared::ContactForm />
      </div>
    </section>

    {{outlet}}

    <Shared::Footer />
  </div>
</div>