<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent class="au-u-margin-bottom">
          <AuHeading @skin="2">{{this.currentSession.groupClassification.label}}
            {{this.currentSession.group.naam}}</AuHeading>
          <p>Indien u toegang mist tot een van de modules in het loket, neem
            contact op met uw
            <strong>interne beheerder</strong>. Indien er zich een probleem
            voordoet met
            <strong>toegang</strong>, neem contact op met het
            <a
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
              class="au-c-link"
            >gebruikersbeheer Vlaanderen</a>.</p>
        </AuContent>
      </div>
    </div>
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
      modules</AuHeading>

    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="users">
          <:title>Bestuursorganen</:title>
          <:description>Hier vind je een overzicht van de bestuursorganen.</:description>
          <:link>
            <AuLink @route="organen" @skin="button">Ga naar de bestuursorganen</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="user-fill">
          <:title>Mandatarissen</:title>
          <:description>Hier vind je een overzicht van alle mandatarissen en hun
            historiek.</:description>
          <:link>
            <AuLink @route="mandatarissen.search" @skin="button">Ga naar de
              mandatarissen</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="vote">
          <:title>Verkiezingen</:title>
          <:description>Hier vind je een overzicht van de verkiezingen.</:description>
          <:link>
            <AuLink @route="verkiezingen" @skin="button">Ga naar de verkiezingen</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      {{#if this.currentSession.canAccessLeidinggevenden}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="user-popup"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/leidinggevendenbeheer"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/modules/leidinggevendenbeheer"
          >
            <:title>Leidinggevenden</:title>
            <:description>Hou hier de leidinggevende functies voor uw bestuur
              bij.</:description>
            <:link>
              <AuLink @route="leidinggevendenbeheer" @skin="button">Ga naar de
                leidinggevenden</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="draft">
          <:title>Forms</:title>
          <:description>Hier vind je een overzicht van de huidige forms.</:description>
          <:link>
            <AuLink @route="formbeheer" @skin="button">Ga naar de forms</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
    </ul>
  </div>
</div>