<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent class="au-u-margin-bottom">
          <AuHeading @skin="2">{{this.currentSession.groupClassification.label}}
            {{this.currentSession.group.naam}}</AuHeading>
          <p>Indien u toegang mist tot een van de modules in het loket, neem
            contact op met uw
            <strong>interne beheerder</strong>. Indien er zich een probleem
            voordoet met
            <strong>toegang</strong>, neem contact op met het
            <a
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
              class="au-c-link"
            >gebruikersbeheer Vlaanderen</a>.</p>
        </AuContent>
      </div>
    </div>
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
      modules</AuHeading>

    <ul class="au-o-grid au-o-grid--small">
      {{#if this.currentSession.canAccessMandaat}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="user-fill"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/modules/mandatenbeheer"
          >
            <:title>Mandatenbeheer</:title>
            <:description>Hou de mandaten binnen de gemeenten, OCMW's,
              districten en provincies bij.</:description>
            <:link>
              <AuLink @route="mandatenbeheer.mandatarissen" @skin="button">Ga
                naar mandatenbeheer</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
      {{#if this.currentSession.canAccessLeidinggevenden}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="user-popup"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/leidinggevendenbeheer"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/modules/leidinggevendenbeheer"
          >
            <:title>Leidinggevendenbeheer</:title>
            <:description>Hou hier de leidinggevende functies voor uw bestuur
              bij.</:description>
            <:link>
              <AuLink
                @route="legacy.leidinggevendenbeheer.bestuursfuncties"
                @skin="button"
              >Ga naar leidinggevendenbeheer</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="draft">
          <:title>Formbeheer</:title>
          <:description>Hier vind je een overzicht van de huidige forms.</:description>
          <:link>
            <AuLink @route="legacy.formbeheer" @skin="button">Ga naar formbeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard @icon="archive">
          <:title>Legacy</:title>
          <:description>Hier vind je een overzicht van legacy pages.</:description>
          <:link>
            <AuLink @route="legacy" @skin="button">Ga naar legacy pages</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
    </ul>
  </div>
</div>