<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent class="au-u-margin-bottom">
          <AuHeading @skin="2">{{this.currentSession.groupClassification.label}}
            {{this.currentSession.group.naam}}</AuHeading>
          <p>Indien u toegang mist tot een van de modules in het loket, neem
            contact op met uw
            <strong>interne beheerder</strong>. Indien er zich een probleem
            voordoet met
            <strong>toegang</strong>, neem contact op met het
            <a
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
              class="au-c-link"
            >gebruikersbeheer Vlaanderen</a>.</p>
        </AuContent>
      </div>
    </div>
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare
      modules</AuHeading>

    <ul class="au-o-grid au-o-grid--small">
      {{#if this.currentSession.canAccessMandaat}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="user-fill"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-lokale-besturen"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/modules/mandatenbeheer"
          >
            <:title>Mandatenbeheer</:title>
            <:description>Hou de mandaten binnen de gemeenten, OCMW's,
              districten en provincies bij.</:description>
            <:link>
              <AuLink @route="mandatenbeheer.mandatarissen" @skin="button">Ga
                naar mandatenbeheer</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
      {{#if this.currentSession.canAccessWorshipMinisterManagement}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="user"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/bedienarenbeheer"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/erediensten/bedienarenbeheer"
          >
            <:title>Bedienarenbeheer</:title>
            <:description>Hou de bedienaren binnen de erediensten bij.</:description>
            <:link>
              <AuLink @route="worship-ministers-management" @skin="button">Ga
                naar bedienarenbeheer</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
      {{#if this.currentSession.canAccessEredienstMandatenbeheer}}
        <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
          <LoketModuleCard
            @icon="users-four-of-four"
            @extraInformationLink="https://www.vlaanderen.be/lokaal-bestuur/loket-voor-lokale-besturen/mandatenbeheer-erediensten"
            @userManualLink="https://abb-vlaanderen.gitbook.io/handleiding-loket/erediensten/mandatenbeheer"
          >
            <:title>Mandatenbeheer</:title>
            <:description>Hou de mandaten binnen de erediensten bij.</:description>
            <:link>
              <AuLink
                @route="eredienst-mandatenbeheer.mandatarissen"
                @skin="button"
              >Ga naar Mandatenbeheer</AuLink>
            </:link>
          </LoketModuleCard>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
