<div class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
  >
    <div class="au-o-region-large">
      <div class="au-o-layout">
        {{outlet}}
      </div>
    </div>

    <Shared::Footer />

  </div>
</div>