{{page-title "SessionExpired"}}
<Error
  @statusCode="401: Sessie Verlopen"
  @statusMessage="Uw sessie is verlopen en u werd uitgelogd. Onze excuses voor het ongemak. Gelieve opnieuw aan te melden."
>
  <div class="au-o-box">
    <AuButton {{on "click" this.clearSessionAndLogin}}>Aanmelden</AuButton>
  </div>
</Error>
{{outlet}}