<div>
  <AuLabel for="input" class="skeleton-label au-u-margin-top" />
  <p class="skeleton-input-full au-u-margin-top au-u-margin-bottom"></p>
  <AuLabel for="input" class="skeleton-label au-u-margin-top" />
  <p class="skeleton-input-small au-u-margin-top au-u-margin-bottom"></p>
  <AuButtonGroup class="au-u-margin-top">
    <AuButton class="skeleton-base">Save</AuButton>
    <AuButton class="skeleton-base">Cancel</AuButton>
  </AuButtonGroup>
  <br />
  <p class="skeleton-text au-u-margin-top au-u-margin-bottom"></p>
</div>