<div>
  <AuLabel for="input" class="skeleton-label" />
  <p class="skeleton-text au-u-margin-top-small"></p>
  <p class="skeleton-text au-u-margin-top-small"></p>
  <p class="skeleton-text au-u-margin-top-small"></p>
  <p class="skeleton-text au-u-margin-top-small"></p>
  <p class="skeleton-text au-u-margin-top-small"></p>
  <AuButtonGroup class="au-u-margin-top">
    <AuButton class="skeleton-base">Save</AuButton>
    <AuButton class="skeleton-base">Cancel</AuButton>
  </AuButtonGroup>
</div>